@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-hurricane: "Hurricane", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-italic: "Inter-Italic", italic;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hurricane: var(--font-hurricane);
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
  --font-italic: var(--font-italic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "Hurricane";
  src: url("/fonts/Hurricane-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Italic";
  src: url("/fonts/Inter-Italic.ttf") format("truetype");
}
/* Hurricane text */
.stylish-yellow-text {
  font-family: "Hurricane", sans-serif; /* directly use the font */
  font-weight: 400;                     /* normal */
  font-size: 70px;
  line-height: 54.4px;
  letter-spacing: -0.03em;
  color:#F8A900
}

@media (min-width: 640px) { /* sm: breakpoint in Tailwind */
  .stylish-yellow-text {
    font-size: 100px;
  }
}

/* Manrope heading */
.heading-2 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;  /* extrabold */
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

@media (min-width: 640px) {
  .heading-2 {
    font-size: 80px;
  }
}

/* Inter sub-heading */
.sub-heading {
  font-family: "Inter", sans-serif;
  font-weight: 400; /* normal */
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: center;
  color:#475467;
}

@media (min-width: 640px) {
  .sub-heading {
    font-size: 24px;
    line-height: 36px;
  }
}

.background-blue-gradient{
  @apply bg-[linear-gradient(180deg,#2384C8_65_91%,rgba(35,132,200,0)_100%)];
}

/* Default (big screens) */
.input-placeholder::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #A0A0A0; /* placeholder color */
}

/* Small screens (phones) */
@media (max-width: 640px) {
  .input-placeholder::placeholder {
    font-family: Inter;
    font-weight: 400;
    font-style: normal; /* "Regular" is normal in CSS */
    font-size: 16px;
    line-height: 17.92px;
    letter-spacing: -0.02em; /* -2% = approx -0.02em */
  }
}
